.form {
    padding: 10px;
    border-radius: $border-radius-lg;
    border: 0px;
    font-size: 1rem;

    &:focus {
        outline: 1px solid $accent;
    }
    
    &.form-control {
        outline: 1px solid $bg-gray;
    }

    &::placeholder {
        color: $text-muted;
    }
}