list-horizontal-component {
    display: block;
    padding-top: 30px;
    background-color: $bg-gray-soft;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 1.3rem;
            font-weight: 600;
            color: $black-700;
        }
    }
    .list-restaurant {
        width: 100%;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding-bottom: 20px;
    }
}