list-horizontal-component {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $bg-light;
    h1 {
        font-size: 1.3rem;
        font-weight: 600;
        color: $primary;
    }
    .list-restaurant {
        margin-top: 20px;
        display: grid;  
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }
}