restaurant-component {
    cursor: default;
    border: 1px solid $bg-light;
    box-shadow: 3px 3px 3px #dcdada0e;
    border-radius: $border-radius-xl;
    background-color: $white;
    min-width: 250px;
    transition: all 0.2s ease;
    a {
        text-decoration: none;
    }
    .thumbnail {
        padding: 0px;
        img {
            width: 100%;
            height: 200px;
            border-top-left-radius: $border-radius-xl;
            border-top-right-radius: $border-radius-xl;
            margin: 0 auto;
        }
    }
    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 10px 14px;
        align-items: start;
        .title {
            display: block;
            h5 {
                font-weight: 600;
                font-size: 1rem !important;
                color: $black-800;
            }
            p {
                font-weight: 500;
                font-size: 0.8rem;
                color: $black-700;
            }
        }
        div {
            display: flex;
            align-items: center;
            i {
                color: $bg-yellow;
            }
            span {
                margin-left: 5px;
                font-size: 0.9rem;
                color: $black;
            }
        }
    }
    .content {
        padding: 0px 14px 14px 14px;
        p {
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            color: $black-700;
            font-size: 0.8rem;
            font-weight: 300;
            overflow: hidden;
            text-overflow: clip;
            line-height: 1.6;
            
            @media screen and (max-width: map-get($container-max-widths, lg)) {
                -webkit-line-clamp: 2;
            }
        }
    }
    &:hover {
        margin: 0px 2px;
        box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.30);
        -webkit-box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 7px 14px -6px rgba(0,0,0,0.30);
    }
}

.detail-restaurant {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 15%;
    margin-right: 15%;
    .thumbnail {
        position: relative;
        img {
            width: 100%;
            border-radius: $border-radius-lg;
        }
        .thumbnail-content {
            position: absolute;
            bottom: 6px;
            left: 0;
            right: 0;
            width: 100%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.598);
            border-bottom-left-radius: $border-radius-lg;
            border-bottom-right-radius: $border-radius-lg;
            color: white;
        }
        .thumbnail-detail {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            @media screen and (max-width: map-get($container-max-widths, sm)) {
                #address, #city {
                    font-size: 0.7rem;
                }
            }
        }
        @media screen and (max-width: map-get($container-max-widths, sm)) {
            img, .thumbnail-content {
                border-radius: 0;
            }
        }
    }
    .content {
        .btn-back {
            font-size: 0.9rem;
        }
    }
    h1 {
        font-size: 1.5rem;
        @media screen and (max-width: map-get($container-max-widths, sm)) {
            font-size: 1rem;
        }
    }
    .categories {
        display: flex;
        gap: 15px;
        row-gap: 15px;
        div {
            background-color: $bg-gray;
            color: $black;
            padding: 5px 10px;
            border-radius: $border-radius-xl;
            border: 2px solid $bg-gray-dark;
            @media screen and (max-width: map-get($container-max-widths, sm)) {
                font-size:0.7rem;
            }
        }
    }
    .menu {
        display: block;
        .menu-child {
            display: grid;
            gap: 15px;
            row-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            div {
                cursor: default;
                background-color: $primary;
                padding: 20px;
                border-radius: $border-radius-lg;
                color: $white;
                &:hover {
                    background-color: $accent;
                    color: $primary-dark;
                    font-weight: bold;
                }
                @media screen and (max-width: map-get($container-max-widths, sm)) {
                    font-size: 0.9rem;
                }
            }
        }
    }
    .rating {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding-bottom: 16px;
        .rating-child {
            min-width: 200px;
            padding: 16px;
            background-color: $white;
            border: 1px solid $bg-light;
            box-shadow: 2px 2px 1px $bg-light;
            border-radius: $border-radius-lg;
            .identity {
                display: flex;
                align-items: start;
                gap: 10px;
                img {
                    margin-top: 5px;
                    width: 32px;
                    height: 32px;
                }
            }
            h4 {
                color: $black-700;
            }
            h5 {
                color: $black-700;
                font-weight: 400;
            }
            p {
                margin-top: 10px;
                color: $black-700;
                font-weight: 500;
                font-size: 0.8rem;
            }
            @media screen and (max-width: map-get($container-max-widths, sm)) {
                font-size: 0.8rem;
            }
        }
    }
    @media screen and (max-width: map-get($container-max-widths, sm)) {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 30px;
        .content {
            padding: 0px 20px;
            .btn-back {
                font-size: 0.7rem;
            }
        }
        h3 {
            font-size: 0.9rem;
        }
        #description {
            font-size: 0.8rem;
        }

    }
}