<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="../public/images/logo.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoPedia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/fill/style.css" />
</head>

<body>
  <nav-bar-component id="nav-bar"></nav-bar-component>
  <hero-component></hero-component>
  <list-horizontal-component></list-horizontal-component>
  <list-horizontal-component></list-horizontal-component>
</body>

</html>