<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="../public/images/logo.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoPedia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>

<body>
  <nav-bar id="nav-bar"></nav-bar>
  <hero-section></hero-section>
  <h1>Restaurant Apps Starter Project</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="">
  <img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</body>

</html>