* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    font-family: $font-main;
}

.ml-1 {
    margin-left: 0.25rem
}

.ml-2 {
    margin-left: 0.5rem
}

.ml-3 {
    margin-left: 1rem
}

.ml-4 {
    margin-left: 1.5em
}

.skip-content {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 20px;
    min-height: 44px;
    min-width: 44px;
    font-size: 0.8rem;
    text-decoration: none;
    padding: 10px;
    top: -70px;

    &:focus {
        top: 0px !important;
        color: $black;
        z-index: 10000;
        background-color: white;
        transition: all 0.2s ease-in-out;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: map-get($container-max-widths, sm)) {
        width: 100% !important;
    }
    @media screen and (max-width: map-get($container-max-widths, sm)) {
        width: 540px !important;
    }
    @media screen and (min-width: map-get($container-max-widths, md)) {
        width: 720px !important;
    }
    @media screen and (min-width: map-get($container-max-widths, lg)) {
        width: 960px !important;
    }
    @media screen and (min-width: map-get($container-max-widths, xl)) {
        width: 1140px !important;
    }
    @media screen and (min-width: map-get($container-max-widths, xll)) {
        width: 1320px !important;
    }
}