// List Of Color
$primary: #183D3D;
$secondary: #5C8374;
$accent: #93B1A6;
$dark: #040D12;

$info: #31708f;
$danger: #D5305D;
$warning: #FF9A07;
$warning-dark: #b95500;
$success: #00C177;
$success-2: #37C75E;
$success-dark: #009E61;

$border-radius-lg: 12px;
$border-radius: 6px;
$border-radius-sm: 4px;

$white: #FFFFFF;
$black: #000000;

$bg-light: #F3F5F7;
$bg-gray: #D8DBDE;

$text-muted: #859BA6;

// Shadow
$box-shadow: 0 1px 2px rgba(24, 61, 61, 0.1);

// Fonts
$font-main: 'Space Mono';

// Device Size
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);